AUTH0_AUDIENCE=https://pipelineci.com
AUTH0_ISSUER_BASE_URL=https://pipelineci.us.auth0.com
GITHUB_APP_IDENTIFIER=
GITHUB_APP_PRIVATE_KEY=
NODE_ENV=
PORT=4001
ORGANIZATIONS_TABLE_NAME=organizations
PROJECTS_TABLE_NAME=projects
